{% load static%}
<!DOCTYPE html>
<html>
 <head>
  <title> ♥ 정후의 자기소개 페이지 ♥ </title>
  <style>
     header {background-color:#F8E0F7; margin:10px;}
	 body {background-color:#F6CEE3; padding:30px;}
  </style>
  </head>
  <body>
     <header>
	    <center>
		<br> </br>
		<h2> ♡ 나는 이런 사람이다! ♡ </h2>
		</center>
		<br> </br>
		<ul>
		 <li> 이름: 박정후 </li>
		 <br> </br>
		 <li> <a href="http://www.hs.ac.kr/sites/kor/index.do"> 학교: 한신대학교 </li>
		 <br> </br>
		 <li> <a href="http://www.hs.ac.kr/itm/index.do">학과: IT경영학과 </li>
		 <br> </br>
		 <li> <a href="#timetable01"> 2020년도 1학기 시간표 보기! </a> </li>
		 <br> </br>
		<hr />
		<br> </br>
		<img src="{% static 'images/gn.jpg' %}" alt="내 사진" width="200" height="250"> 제 사진입니다♡
		<br> </br>
		<hr />
		<br> </br>
		 <center>
	      <h2> ♡정후의 시간표♡ </h2>
	     </center>
		<section>
	     <article>
		  <center>
		   <table border="1" align="center" style="width:50; height:100;"> <a id="timetable01"></a>
            <tr align="center">
              <th> 교시 </th>
              <th> 월요일 </th>
			  <th> 화요일 </th>
			  <th> 수요일 </th>
			  <th> 목요일 </th>
			  <th> 금요일 </th>
			 </tr>
			 <tr align="center">
			  <th> 1교시 </th>
			  <td>          </td>
			  <td rowspan="2" bgcolor="#FFD9FA"> 글로벌 경영과 <br> 비즈니스모델  </br> </td>
			  <td rowspan="2" bgcolor="#F361DC"> 취창업스쿨1 </td>
			  <td>                  </td>
			  <td rowspan="10">                  </td>
			  </tr>
			  <tr align="center">
			   <th> 2교시 </th>
			   <td>                  </td>
			   <td>                  </td>
			  </tr>
			  <tr align="center">
			  <th> 3교시 </th>
			  <td rowspan="2" bgcolor="#F361DC"> 취창업스쿨1 </td>
			  <td rowspan="3" bgcolor="#FFB2F5"> 초급일본어회화1 </td>
			  <td>                        </td>
			  <td rowspan="2" bgcolor="#FFD9FA"> 글로벌 경영과 <br> 비즈니스모델  </br> </td>
			 </tr>
			 <tr align="center">
			  <th> 4교시 </th>
			  <td>           </td>
			 </tr>
			 <tr align="center">
			  <th> 5교시 </th>
			  <td>           </td>
			  <td>           </td>
			  <td>           </td>
			 </tr>
			 <tr align="center">
			  <th> 6교시 </th>
			  <td rowspan="2"  bgcolor="#FF007F"> 미술로의 초대 </td>
			  <td rowspan="2"  bgcolor="#FFA7A7"> 기초 중국어1 </td>
			  <td rowspan="2"  bgcolor="#FF007F"> 미술로의 초대 </td>
			  <td rowspan="2"  bgcolor="#FFA7A7"> 기초 중국어1 </td>
			 </tr>
			 <tr align="center">
			  <th> 7교시 </th>
			 </tr>
			 <tr align="center">
			  <th> 8교시 </th>
			  <td rowspan="2"  bgcolor="#FF00DD"> 웹프로그래밍 활용 </td>
			  <td>                         </td>
			  <td rowspan="2"  bgcolor="#F00DD"> 웹프로그래밍 활용 </td>
			  <td>                         </td>
			 </tr>
			 <tr align="center">
			  <th> 9교시 </th>
			  <td>           </td>
			  <td>           </td>
			 </tr>
			 <tr align="center">
			  <th> 10교시 </th>
			  <td bgcolor="#FFB2D9"> 팀워크 트레이닝 </td>
			  <td>                      </td>
			  <td bgcolor="#FFD9EC"> 싸강 채플 </td>
			  <td>                       </td>
			 </tr>
		 </table>
		</center>
		<br> </br>
		<hr />
		<center>
		  <h2> ♥ 끝 ♥ </h2>
	  </body>